In [1]:
import os
from openai_utils import *
from db_utils import *

## Setup variables

In [3]:
openai.api_key = os.getenv('OPENAI_API_KEY')
client = openai.OpenAI()
df = pd.read_csv('sales_data_sample.csv')
table_name = 'Sales'

## Create Engine

In [4]:
engine = dataframe_to_database(df, table_name)

2024-11-09 11:41:44,605 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-09 11:41:44,606 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Sales")
2024-11-09 11:41:44,606 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-09 11:41:44,607 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Sales")
2024-11-09 11:41:44,608 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-09 11:41:44,608 INFO sqlalchemy.engine.Engine ROLLBACK
2024-11-09 11:41:44,610 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-09 11:41:44,611 INFO sqlalchemy.engine.Engine
CREATE TABLE "Sales" (
	"ORDERNUMBER" BIGINT,
	"QUANTITYORDERED" BIGINT,
	"PRICEEACH" FLOAT,
	"ORDERLINENUMBER" BIGINT,
	"SALES" FLOAT,
	"ORDERDATE" TEXT,
	"STATUS" TEXT,
	"QTR_ID" BIGINT,
	"MONTH_ID" BIGINT,
	"YEAR_ID" BIGINT,
	"PRODUCTLINE" TEXT,
	"MSRP" BIGINT,
	"PRODUCTCODE" TEXT,
	"CUSTOMERNAME" TEXT,
	"PHONE" TEXT,
	"ADDRESSLINE1" TEXT,
	"ADDRESSLINE2" TEXT,
	"CITY" TEXT,
	"STATE" TEXT,
	"POSTALCODE" TEXT,
	"COUNTRY" TEXT,
	"TERRITORY" TEXT,
	"CONTACTLASTNAME" TEXT,
	"CONTACTFIRSTNAME" TEXT,
	"DEALSIZE" TEXT
)


2024-11-09 11:41:44,612 INFO sqlalchemy.engine.Engine [no key 0.00112s] ()
2024-11-09 11:41:44,613 INFO sqlalchemy.engine.Engine COMMIT
2024-11-09 11:41:44,619 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-09 11:41:44,661 INFO sqlalchemy.engine.Engine INSERT INTO "Sales" ("ORDERNUMBER", "QUANTITYORDERED", "PRICEEACH", "ORDERLINENUMBER", "SALES", "ORDERDATE", "STATUS", "QTR_ID", "MONTH_ID", "YEAR_ID", "PRODUCTLINE", "MSRP", "PRODUCTCODE", "CUSTOMERNAME", "PHONE", "ADDRESSLINE1", "ADDRESSLINE2", "CITY", "STATE", "POSTALCODE", "COUNTRY", "TERRITORY", "CONTACTLASTNAME", "CONTACTFIRSTNAME", "DEALSIZE") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-11-09 11:41:44,662 INFO sqlalchemy.engine.Engine [generated in 0.03345s] [(10107, 30, 95.7, 2, 2871.0, '2/24/2003 0:00', 'Shipped', 1, 2, 2003, 'Motorcycles', 95, 'S10_1678', 'Land of Toys Inc.', '2125557818', '897 Long Airport Avenue', None, 'NYC', 'NY', '10022', 'USA', None, 'Yu', 'Kwai', 'Small'), (10121, 34, 81.35, 5, 2765.9, '5/7/2003 0:00', 'Shipped', 2, 5, 2003, 'Motorcycles', 95, 'S10_1678', 'Reims Collectables', '26.47.1555', "59 rue de l'Abbaye", None, 'Reims', None, '51100', 'France', 'EMEA', 'Henriot', 'Paul', 'Small'), (10134, 41, 94.74, 2, 3884.34, '7/1/2003 0:00', 'Shipped', 3, 7, 2003, 'Motorcycles', 95, 'S10_1678', 'Lyon Souveniers', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', None, 'Paris', None, '75508', 'France', 'EMEA', 'Da Cunha', 'Daniel', 'Medium'), (10145, 45, 83.26, 6, 3746.7, '8/25/2003 0:00', 'Shipped', 3, 8, 2003, 'Motorcycles', 95, 'S10_1678', 'Toys4GrownUps.com', '6265557265', '78934 Hillside Dr.', None, 'Pasadena', 'CA', '90003', 'USA', None, 'Young', 'Julie', 'Medium'), (10159, 49, 100.0, 14, 5205.27, '10/10/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Corporate Gift Ideas Co.', '6505551386', '7734 Strong St.', None, 'San Francisco', 'CA', None, 'USA', None, 'Brown', 'Julie', 'Medium'), (10168, 36, 96.66, 1, 3479.76, '10/28/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Technics Stores Inc.', '6505556809', '9408 Furth Circle', None, 'Burlingame', 'CA', '94217', 'USA', None, 'Hirano', 'Juri', 'Medium'), (10180, 29, 86.13, 9, 2497.77, '11/11/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Daedalus Designs Imports', '20.16.1555', '184, chausse de Tournai', None, 'Lille', None, '59000', 'France', 'EMEA', 'Rance', 'Martine', 'Small'), (10188, 48, 100.0, 1, 5512.32, '11/18/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Herkku Gifts', '+47 2267 3215', 'Drammen 121, PR 744 Sentrum', None, 'Bergen', None, 'N 5804', 'Norway', 'EMEA', 'Oeztan', 'Veysel', 'Medium')  ... displaying 10 of 2823 total bound parameter sets ...  (10397, 34, 62.24, 1, 2116.16, '3/28/2005 0:00', 'Shipped', 1, 3, 2005, 'Ships', 54, 'S72_3212', 'Alpha Cognac', '61.77.6555', '1 rue Alsace-Lorraine', None, 'Toulouse', None, '31000', 'France', 'EMEA', 'Roulet', 'Annette', 'Small'), (10414, 47, 65.52, 9, 3079.44, '5/6/2005 0:00', 'On Hold', 2, 5, 2005, 'Ships', 54, 'S72_3212', 'Gifts4AllAges.com', '6175559555', '8616 Spinnaker Dr.', None, 'Boston', 'MA', '51003', 'USA', None, 'Yoshido', 'Juri', 'Medium')]
2024-11-09 11:41:44,672 INFO sqlalchemy.engine.Engine COMMIT
2024-11-09 11:41:44,673 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-09 11:41:44,673 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-11-09 11:41:44,674 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-09 11:41:44,675 INFO sqlalchemy.engine.Engine ROLLBACK

## Get query from user in natural language

In [16]:
nl_query = user_query_input()
print(f'User query is: \"{nl_query}\"')

User query is: "countries that ordered most often"

## Get result data

In [17]:
def nl_query_result(nl_query):
    prompt = combine_prompts(df, table_name, nl_query)
    openai_response = send_to_openai(prompt, client)
    final_query = handle_response(openai_response)
    return execute_query(engine, final_query).all()

In [18]:
nl_query_result(nl_query)

2024-11-09 11:52:18,041 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-09 11:52:18,043 INFO sqlalchemy.engine.Engine SELECT COUNTRY, COUNT(*) AS ORDER_COUNT FROM Sales GROUP BY COUNTRY ORDER BY ORDER_COUNT DESC
2024-11-09 11:52:18,045 INFO sqlalchemy.engine.Engine [generated in 0.00408s] ()
2024-11-09 11:52:18,051 INFO sqlalchemy.engine.Engine ROLLBACK

[('USA', 1004),
 ('Spain', 342),
 ('France', 314),
 ('Australia', 185),
 ('UK', 144),
 ('Italy', 113),
 ('Finland', 92),
 ('Norway', 85),
 ('Singapore', 79),
 ('Canada', 70),
 ('Denmark', 63),
 ('Germany', 62),
 ('Sweden', 57),
 ('Austria', 55),
 ('Japan', 52),
 ('Belgium', 33),
 ('Switzerland', 31),
 ('Philippines', 26),
 ('Ireland', 16)]